/* 
 * Name: Noel Miranda
 * CSS for bioSite project 
 * Status: WIP: Needs polishing.
 */

/* Reset default margins and padding that are applied across different browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* includes padding and border in elements' width and height */
}

/* This ensures the width is set up to take up the whole viewport */
html, body {
    width: 100%;
    height: 100%;
    font-size: 16px; /* Style guide set defaults */
    font-weight: 400; /* Style guide set defaults */
    line-height: 1.6; /* Style guide set defaults */
    letter-spacing: 0px; /* Style guide set defaults */
    font-family: 'Open Sans', Arial, sans-serif;
}

header {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Spaces out the logo and navigation */
    align-items: flex-end; /* pushes items to the bottom of the container */
    padding: 20px;
    background-color: #1A2A47;
    color: #FFFFFF;
    width: 100%; /* This ensures the entire width fills viewport */
    position: relative;
    overflow: hidden; /* Prevent overflow */
}

.logo-name p {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 10px;
    font-weight: 400;
    border: 2px solid #FFA3BF;
}

header nav ul {
    display: flex; /* Makes the navigation items horizontal due to aligning on main axis */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color:#E573A6;
    font-size: 16px;
    font-family: Montserrat, Arial, sans-serif;
}

.container {
    width: 100%;
    min-width: 320px;
    padding: 10px 20px 10px 20px;
    overflow: scroll;
}

.main-grid-container {
    /*border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-content: center;
}

.inner-grid-container {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    transition: 0.3s;
}

.inner-grid-container:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.card-image {
    align-content: center;
}

.grid-figure {
    box-shadow: 0 4px 8px 0 #0B0E1A;
    border: 2px solid #0B0E1A;
    border-radius: 10px;
    width: 330px;  
    overflow: hidden; /* Ensures content stays inside this box */
    background-color: #1A2A47;
    justify-items: center;
    transition: 0.3s;
}

.card-content {
    overflow: scroll;
}

.card-content h3 {
    color: #E573A6;
    text-align: center;
    margin-bottom: 20px;
}

.card-content p {
    padding: 10px;
}

.smaller-image-window {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 15px auto 0px;
    border: 2px solid #FFA3BF;
}

.smaller-image-window img {
    object-fit: cover;
}

#img3 {
    object-position: -2px -200px;
}

#img4 {
    object-position: 0px -10px;
}

#img5 {
    object-position: 0px -120px;
}

#img6 {
    object-position: -90px -2px;
}

.figcaption-small {
    width: 300px;
    color: #FFFFFF;
}

h1 {
    font-size: 36px;
    margin: 20px auto;
    text-align: center;
    line-height: 1.3;
    color: #E573A6;
    letter-spacing: 1px;
    font-family: Montserrat, Arial, sans-serif;
}

.main-image-container {
    border: 2px solid #0B0E1A;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 #0B0E1A;
    width: 530px; 
    height: 590px; 
    overflow: hidden; /* Ensures content stays inside this box */
    margin: 0 auto;
    background-color: #1A2A47;
}

.main-image-window {
    width: 500px; /* following image style for 500 x 500 */
    height: 500px; /* following image style for 500 x 500 */
    overflow: hidden; /* Ensures only part of the image inside this box is shown */
    margin: 15px auto 0px;
    border: 2px solid #FFA3BF;
}

.main-image-window img {
    object-fit: cover; /* Crops the image to fill the container while keeping aspect ratio */
}

#img1 {
    object-position: 0px -385px; /* Focuses on the part of the image 385px up */
}

#img2 {
    object-position: -225px -20px;
}

.figcaption-main {
    width: 500px;
    color: #FFFFFF;
    margin: 5px auto;
}

.content-container {
    padding: 40px;
}

.content-container p {
    margin-bottom: 20px;
}

footer {
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #1A2A47;
    color: #FFFFFF;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

footer p {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 10px;
    font-weight: 400;
    border: 2px solid #FFA3BF;
}

footer nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

footer nav ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: underline;
    color:#FFA3BF;
}

a:active {
    font-weight: 700;
}